<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Simple website</title>
    <link href="./css/style.css" rel="Stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="Stylesheet">

  </head>
<body>
            <div class="site-header">
                    <nav>
                      <div class="logo">
                        <img src="./imagefolder/image1.jpg"> 
                      </div>
                      <div class="menu">
                        <ul>
                          <li>Home</li>
                          <li>Services</li>
                          <li>ContactUs</li>
                          <li>Gallery</li>
                          <li>Career</li>
                          <li>Media</li>
                        </ul>
                      </div>
                    </nav>
                  </div>
                  <div class="body-section">
                    <section class="left-section">
                        <img src="./imagefolder/image2.png">
                    </section>
                    <section class="right-section">
                      <span class="right-content">
                        <h1>Welcome To My Website</h1>
                        <p>This is the modern information website for you.</p>
                        <button type="button"> Click here</button>
                      </span>
                    </section>
                  </div>
                  <span class="clearfix"></span>
                  <div class="footer-section">
                    <p class="footer-p">
                    © Copyright 2012-2019 Prabhakar Parida
                    </p>
                  </div>
</body>
</html>